<mat-card>
  <mat-card-title>Things to do</mat-card-title>
  <mat-card-content>
    <section>
      <div *ngFor="let todo of todosList$ | async; let i = index">
        <mat-checkbox [ngModel]="todo.done" (change)="checkedStateChanged($event, i)">
          {{ todo.description }}
          <button class="delete-btn" (click)="deleteItem(i)" mat-button>X</button>
        </mat-checkbox>
      </div>
    </section>
  </mat-card-content>
  <mat-card-footer>
    <form (submit)="addNewTodo()">
      <div class="new-todo-footer">
        <mat-form-field class="todo-description" appearance="fill">
          <mat-label>Something you need to do</mat-label>
          <input [(ngModel)]="newTodoDescription" name="newTodoDescription" matInput placeholder="Something to do" />
        </mat-form-field>
        <button class="add-btn" [disabled]="!newTodoDescription" type="submit" mat-raised-button matSuffix color="primary">Add</button>
      </div>
    </form>

    <button class="clear-all-btn" (click)="clearAll()" mat-raised-button type="button">Clear All</button>
  </mat-card-footer>
</mat-card>
